<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <form method="POST">
            <label>What's the task?</label>
            <input type="title" name="title" placeholder="Title" required><br/>
            <label>Task details:</label> 
            <input type="details" name="details" placeholder="Details"><br/>
            <label>Priority:</label>
            <select type="importance" name="importance">
                <option value="low">Low</option>
                <option value="medium">Medium</option>
                <option value="high">High</option>
            </select><br/>
            <input type = "submit" value = "submit"/><br/>
        </form>
        <form action="/" style="display: inline">
			<button type="submit">Home</button>
		</form>
    </body>
</html>