<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <form method="POST">
            <label>Enter User ID:</label>
            <input type="user_id" name="user_id" placeholder="Enter your User ID" required><br/>
            <label>Enter Username:</label>
            <input type="username" name="username" placeholder="Enter your Username" required><br/> 
            <input type = "submit" value = "submit"/><br/>
        </form>
        <form action="/" style="display: inline">
			<button type="submit">Home</button>
		</form>
    </body>
</html>